@media ( min-width: 768px ) {
    #banner {
        min-height: 300px;
        border-bottom: none;
    }
    .bs-docs-section {
        margin-top: 8em;
    }
    .bs-component {
        position: relative;
    }
    .bs-component .modal {
        position: relative;
        top: auto;
        right: auto;
        left: auto;
        bottom: auto;
        z-index: 1;
        display: block;
    }
    .bs-component .modal-dialog {
        width: 90%;
    }
    .bs-component .popover {
        position: relative;
        display: inline-block;
        width: 220px;
        margin: 20px;
    }
    .nav-tabs {
        margin-bottom: 15px;
    }
    .progress {
        margin-bottom: 10px;
    }
}
.navbar-brand img{
    position: relative;
    top:-13px;
    margin-right:5px;
}
.top-banner {
    color: #111;
    background: url('./images/top1.jpg') 0 0 no-repeat;
    background-size: cover;
    background-position: center center;
}
#header {
    width: 100%;
    height: 81px;
    position: fixed;
    top: 0;
    left: 0;
    z-index:1000;
}
#main{
    padding-top: 130px;
}
section{
    margin-bottom: 50px;
}
span.badge-info {
    background-color: #3498DB;
    color:#fff;
}
